<div class="container">
    <div class="row">
        <div class="col">
            <input type="text"  [(ngModel)]="addressString" class="form-control" (change)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
            </div>
    </div>

    <br>

    <div class="row">
        <div class="col">
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map>
            </div>
    </div>
  
</div>